/*
bridge theme es lan css file.
*/
.container .container_inner  {
    width: 1200px;
}
nav.main_menu > ul > .boldMenu > a {
    font-size: 16px;
}
nav.main_menu > ul > li > a {
    font-size: 14px;
}
.service-wrapper > .wpb_wrapper {
    margin: 20px 5px 50px;
}
.service_cards .service-wrapper:nth-child(3)::after {
  clear: both;
  content: "";
  display: block;
  height: 15px;
  position: relative;
}
.service-wrapper a.qbutton{ white-space: inherit;}
.social_name span:nth-child(2){
	clear: both;
	display: block;
}
.author_rating {
    max-width: 160px;
}





/*SUMAN ADD*/
@media only screen and (max-width: 768px) {
	.mmibdr {
		border-bottom: none!important;
	}
	.mmibdr1{
		border-bottom: 2px solid #eaeaea!important;
	}
	nav.mobile_menu .mmibdr div.widget_nav_menu ul.menu li:last-child {
		border-bottom: 1px solid #eaeaea!important;
	}
	li.noheight > div.widget_nav_menu > h5 {
		height: 0;
		padding: 0;
		margin: 0;
	}
}
@media only screen and (max-width: 1280px) and (min-width: 1201px) {
	.container .container_inner  {
		width: 100%;
	}
	nav.main_menu > ul > .boldMenu > a {
		font-size: 14px;
	}
	nav.main_menu > ul > li > a {
		font-size: 12px;
	}
}
@media only screen and (max-width: 1200px) and (min-width: 1000px) {
	.container .container_inner {
		width: 100%;
	}
	nav.main_menu>ul>li>a {
		padding: 0 4px!important;
	}
	nav.main_menu > ul > .boldMenu > a {
		font-size: 12px;
	}
	nav.main_menu > ul > li > a {
		font-size: 10px;
	}
}
/*
body .header-widget.widget_nav_menu li.choose-location > a,body .header-widget.widget_nav_menu li.choose-location > a:hover {color: #fff;}.header-widget.widget_nav_menu.header-right-widget ul ul {background: #f4f4f4;box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);overflow: hidden;border-radius: 0 0 3px 3px; display: none!important;}.header-widget.widget_nav_menu.header-right-widget ul ul li a {border-bottom: 1px solid #e6e6e6 !important;}	
*/

@media only screen and (max-width: 640px) and (min-width: 769px) {
	#quoteFrm320, #quoteFrm {
		height: 320px;
	}
	.intrpt-qot-fr{
		height: 350px!important;
	}
}

@media only screen and (max-width: 639px) {
	.intrpt-qot-es{
		height: 910px!important;
	}
	#quoteFrm320, #quoteFrm {
		height: 800px;
	}
}